# development | staging | production
EXPO_PUBLIC_ENVIRONMENT=development

EXPO_PUBLIC_ENABLE_MOCK_DEVICE=true

EXPO_PUBLIC_BEACON_UUID=

EXPO_PUBLIC_EMAILJS_SERVICE_ID=
EXPO_PUBLIC_EMAILJS_TEMPLATE_ID=
EXPO_PUBLIC_EMAILJS_PUBLIC_KEY=
